# Building an ETL Pipeline for WRC Hackathon

### Tools

In [1]:
# Importing Packages

import tweepy as tw         
import pandas as pd     
import numpy as np
from datetime import date, timedelta
import json
import re
from IPython.display import display
import pyodbc

In [2]:
# API Keys

CONSUMER_KEY    = 'egoItCf7bZMp4gopTCXC0WH2O'
CONSUMER_SECRET = 'Ph7fyNWzMnLTb0rgx5w0GPb0bzWlfyUtfVhZZGt5jVk4FJeBxK'

ACCESS_TOKEN  = '840149748354965504-6fGpkvdj6n53uVG5231Oq6PhyLzHlfO'
ACCESS_SECRET = 'f17t2HIfmpsgh1IBxgdugigEH8Xuzhps7gjGT2jfLOgxT'

In [3]:
# Create authentication

auth = tw.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_SECRET)
api = tw.API(auth, wait_on_rate_limit=True)

### Data

Both sets need expansion

In [134]:
 key_words = [ 'leak' , 'burst' , 'pressure', 'water','cut', 'pipe',
              'fault', 'broke', 'damage', 'toilet', 'sanit',
              'waste', 'complain', 'supply','service','deliver',
              'out', 'no water', 'reference','report' ,'complain',
              'install','low','repair']
#Words like flow included in 'low','broken' in 'broke' (Pseudo lemmatization)
#Includes word like follow..
#Still to consider outage vs out --using out for now
#sanitation vs sanit (sanitory...)

In [20]:
# master_list =[['alfred_enzo' ,'@alfrednzoDM', 'eastern_cape'],
#               ['amajuba' ,'@AmajubaDM' , 'kwazulu_natal' ],
#               ['cape_wine_lands','@CWDM2','western_cape'],
#               ['ehlanzeni' ,'@EhlanzeniM','mpumalanga'],
#               ['fezile_dabi', '@FezileDabiDM','free_state' ],
#               ['garden_route', '@GardenRoute_DM','western_cape'],
#               ['gert_sibande','@GertSibandeDM','mpumalanga' ],
#               ['ilembe' ,'@DistrictIlembe','kwazulu_natal'],
#               ['king_cetshwayo','@Cetshwayo_dm','kwazulu_natal'],
#               ['lejweleputswa', '@LejweleputswaM','free_state' ],
#               ['mangaung', '@MangaungCity','free_state' ],
#               ['nkangala', '@NkangalaDM','mpumalanga' ],
#               ['sedibeng', '@SedibengDM','gauteng' ],
#               ['ugu', '@UguDM','kwazulu_natal'],
#               ['north_uthungulu','@UmkhanyakudeM','kwazulu_natal'],
#               ['uthukela', '@OkhahlambaLM','kwazulu_natal'],
#               ['vhembe', '@VhembeDM','limpopo'],
#               ['rand_west_city', '@RandLocal','gauteng' ],
#               ['sedibeng' ,'@EmfuleniLM','gauteng' ],
#               ['amathole','@Amathole_DM', 'eastern_cape'] , 
#               [ 'bojanala','Bojanala District', 'north_west'], 
#               [ 'capricon' ,'@CDMunicipality 'limpopo'], 
#               ['karoo' ,'Central Karoo District', 'western_cape'],
#               ['chris_hani' ,'@ChrisHaniDM', 'eastern_cape'], 
#               ['kenneth_kaunda','Dr Kenneth Kaunda District', 'north_west'], 
#               ['dr_ruth','Dr Ruth Segomotsi Mompati District', 'north_west'] ,
#               ['frances','@FrancesBaardDM', 'northern_cape'],
#               ['harry_gwala','Harry Gwala District', 'kwazulu_natal'], 
#               ['joe_gqabi','Joe Gqabi District', 'eastern_cape' ],
#               ['john_taolo','@JTGMunicipal', 'northern_cape'], 
#               ['mopani','Mopani District', 'limpopo'],
#               ['namakwa','Namakwa District', 'northern_Cape'], 
#               ['ngaka','Ngaka Modiri Molema', 'north_west'], 
#               ['or_tambo' ,'@ortambodm', 'eastern_cape'], 
#               ['overberge','Overberg District', 'western_cape'],
#               ['pixley_ka_seme','Pixley ka Seme District', 'northern_cape'], 
#               ['sarah', 'Sarah Baartman District', 'eastern_cape'],
#               ['sekhukune','@SEKHUKHUNEMUNI1', 'limpopo'],
#               ['thabo','@TeamTMDM', 'free_state'] ,
#               ['umgungundlovu' ,'uMgungundlovu District', 'kwazulu_natal'] ,
#               ['umzinyathi','@umzinyathi', 'kwazulu_natal'],
#               ['waterberg','Waterberg District', 'limpopo' ],
#               ['west_cost' ,'@WeskusDM', 'western_cape'], 
#               ['zf_mchunu' ,'ZF Mgcawu District', 'northern_cape'],
#               ['xhariep' ,'Xhariep District', 'free_state'],
#               ['zululand' ,'Zululand District', 'kwazulu_natal']]
master_list = [['','@thameswater','']]

### Functions

In [78]:
def extract_tweets(search_word) :

    search_words = search_word + " -filter:retweets"
    today = date.today()                     
    tweets = tw.Cursor(api.search,
               q=search_words,
               lang="en"
               ).items(200)                    
    tweet_status = [tweet for tweet in tweets]
    tweet_list = [tweet.text for tweet in tweet_status]
    tweet_date = [tweet.created_at for tweet in tweet_status]
    co_od = [tweet.coordinates for tweet in tweet_status]
    place_name = [tweet.place.full_name if tweet.place else 'Not available' for tweet in tweet_status]

    tweet_df = pd.DataFrame(data=tweet_list, 
        columns=['tweet'])
    tweet_df['timestamp'] = tweet_date
    tweet_df['coordinates'] = co_od
    tweet_df['Place_name'] = place_name
        
    return tweet_df

In [130]:
def TweetCleaner(tweet):
    tweet = str(tweet.lower()) 
    tweet = re.sub('@[\w]*','',tweet) 
    tweet = re.sub(r'https?:\/\/.*\/\w*', '', tweet)
#     tweet = re.sub(r'#\w*', '', tweet) 
    tweet = re.sub(r"[,.;':@#?!\&/$]+\ *", ' ', tweet)
    tweet = re.sub(r"U+FFFD ", ' ', tweet)
    tweet = re.sub(r'\s\s+', ' ', tweet)
    tweet = tweet.lstrip(' ')
    tweet = ' '.join([i for i in tweet.split() if any(list_word in i for list_word in key_words)])
#     tweet = ' '.join([i for i in tweet if i in key_words])
    
    return tweet

In [100]:
def create_df(the_list) :
    
    col_order = ['tweet', 'timestamp','keywords' ,'coordinates','Place_name']   
    dummy_df = pd.DataFrame(columns = ['tweet', 'timestamp','keywords' ,
                                       'coordinates','Place_name'])

    for i in the_list :
        handle = i[1]
        df = extract_tweets(handle)
        df['keywords'] = df['tweet'].map(lambda x: TweetCleaner(x))
        df = df[col_order]

        dummy_df = dummy_df.append(df)
    
    dummy_df = dummy_df.drop([0])
    dummy_df = dummy_df.reset_index()
    dummy_df = dummy_df.drop(columns = ['index'] , axis = 1)   
    
    return dummy_df

### Build Data

In [135]:
database = create_df(master_list)

In [136]:
database.head()

,tweet,timestamp,keywords,coordinates,Place_name
0,@TheFazk1 @LBofBexley @BelvedereLabour @thames...,2020-08-05 20:37:37,,None,Not available
1,3 days council approval for the repair - finge...,2020-08-05 20:35:27,,None,Not available
2,@nialltkeogh @TeRNSorg @WildWoodberry @thamesw...,2020-08-05 20:10:16,,None,Not available
3,@_aimeesteeds @thameswater Nice to read some p...,2020-08-05 20:07:10,,None,Not available
4,"Hi @thameswater , I've been trying to log into...",2020-08-05 19:53:53,,None,Not available

### Database connection

In [137]:
database.head(5)
# Note DB currently has 200 entries from @thameswater twitter account

,tweet,timestamp,keywords,coordinates,Place_name
0,@TheFazk1 @LBofBexley @BelvedereLabour @thames...,2020-08-05 20:37:37,,None,Not available
1,3 days council approval for the repair - finge...,2020-08-05 20:35:27,,None,Not available
2,@nialltkeogh @TeRNSorg @WildWoodberry @thamesw...,2020-08-05 20:10:16,,None,Not available
3,@_aimeesteeds @thameswater Nice to read some p...,2020-08-05 20:07:10,,None,Not available
4,"Hi @thameswater , I've been trying to log into...",2020-08-05 19:53:53,,None,Not available

In [138]:
[i for i in database.keywords]
#None of the entries contain any of our keywords

['',
 '',
 '',
 '',
 '',
 '',
 '',
 'water',
 'low',
 'water',
 '',
 'water',
 '',
 '',
 '',
 'water water',
 '',
 'service',
 '',
 '',
 '',
 '"water" waterfalls',
 '',
 'low water pressure',
 '',
 'reports low water pressure water',
 'water',
 '',
 'reported',
 '',
 '',
 '',
 '',
 'customeservice',
 'complaint',
 'pipe',
 '',
 'burst pipe',
 '',
 'service',
 '',
 '',
 'complaints',
 'reporting water',
 'water',
 '',
 '',
 '',
 '',
 'low water pressure',
 '',
 'water leaking pipes',
 '',
 'water water leak',
 '',
 '',
 '',
 '',
 '',
 'cut',
 '',
 'water leak water',
 'leak',
 '',
 '',
 'complaints',
 'water',
 'water supply water',
 '',
 '',
 '',
 '',
 '',
 'leak',
 'leak',
 'reported',
 'reported water',
 '',
 'water',
 '',
 '',
 '',
 'following',
 'water report',
 'leak',
 '',
 'leak',
 '',
 'water flowing',
 '',
 '',
 '',
 '',
 'water leak pipes',
 'water excutives',
 '',
 '',
 'water leak',
 '',
 '',
 '',
 'water leak',
 'water',
 'reported burst water pipe',
 'low pressure',
 '',
 'water',
 'deliveries leak',
 'water',
 '',
 '',
 '',
 'water',
 '',
 '',
 'services',
 'leak burst pipe)',
 'leak',
 '',
 '',
 'service',
 '',
 '',
 'low pressure',
 'leak',
 '',
 'pipe',
 'water',
 'thameswater',
 '',
 '',
 'low pressure',
 'leak reported',
 '',
 '',
 '',
 '',
 'water',
 '',
 '',
 'water water leak',
 '',
 '',
 'complaint',
 '',
 '',
 '',
 'pipe pipe',
 '',
 'water pressure',
 '',
 'service',
 '',
 '',
 'water',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'water pressure',
 'reported leak',
 '',
 '',
 'installation serviced',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'reported water leak',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'water',
 '']

In [118]:
a = 'I am @thameswater'

In [125]:
a.split()

['I', 'am', '@thameswater']

In [126]:
for i in a.split():
    if any(list_word in i for list_word in key_words):
        print(i)

@thameswater

In [129]:
' '.join([i for i in a.split() if any(list_word in i for list_word in key_words)])

'@thameswater'